/*Reset brower specfic CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

p { margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start Map CSS*/
body{
background-color:#fdfcee;
color:#282932;
font-size: 1em;
line-height: 1.5em;
font-weight:300px;
font-family: lato, Verdana, Geneva, sans-serif;
margin: 0 auto;
width: 100%;
}

header {
  background-color: #fbac1d;
  padding-top: 1.5em;
  padding-bottom: .75em;
}

h1 {
font-size: 2.5em;
margin-bottom: .5em;
line-height: 1em;
font-weight: bold;
padding-right: 3px;
color: #fff;
/*text-shadow: 1px 1px 1px #555;*/
}

h2 {
font-size: 1.35em;
line-height: 1.5em;
margin-bottom: .15em;
}

strong {
  font-weight: bold;
  color: #282932;
}

a {
  color: #893201;
}

a:hover{
  color: #cb8f1a;
}

a:visited {
  color: #893201;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  max-width: 620px;
}

.logo {
  width: 2em;
  height: 2em;
  padding: .9em .9em;
  background-color: #cb8f1a;
  border-radius: 100%;
  color: #282932;
  margin-bottom: .5em;
}

.icon-graduation {
  color: #282932;  
}

.lede {
  font-size: 1.25em;
}

.main {
  margin-top: 2.5em;
}


.footer {
  border-top: 1px solid #eaa52c;
  padding-top: .8275em;
  font-size: .8275em;
}


#print-paragraphs {
  margin-top: 20px;
  margin-bottom: 40px;
}

#submit {
    background-color: #cb8f1a;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #F2F2F2;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 1em;
    padding: 2px;
    width: 75px;
}

@media (min-width: 440px) {

 .logo {
  margin-right: 1.15em;
  float: left;
  margin-top: -.75em;
 }

}

@media (min-width: 580px) {

  h1 {
    font-size: 3.5em;
  }

  .logo {
     margin-top: -5px;
     width: 2.75em;
    height: 2.75em;
    padding: .9em .9em;
  }

  .radio li {
   display: table;
   display: inline-block;
   margin-right: 10px;
  }

}



